use crate::common::generated::instruction::Instruction;
use crate::assembler::tokenizer::TokenizedLine;
use crate::assembler::parser::{*};

pub fn match_instruction(line: &TokenizedLine) -> Option<ParsedLine> {
    if line.tokens.len() == 0 {
        return None;
    }
    let instruction_identifier = line.tokens[0].token.as_str();

    let dec = match instruction_identifier {
$cases
        _ => return None
    };


    Some(ParsedLine::Instruction(dec))
}